.button {
	width: 100%;
}
.button:hover {
	animation: shake 1s linear infinite;
}
@keyframes shake {
	0% {
		transform: scale(0.7);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.7);
	}
}
