header {
	display: flex;
	justify-content: center;
	background-color: #1a3433;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	box-shadow: 0 0 10px 5px black;
}
header h1 {
	color: #f0efef;
	padding: 1.5rem;
}
