header {
	display: flex;
	justify-content: center;
	background-image: linear-gradient(45deg, purple, rgb(20, 20, 233));
	width: 100%;
	position: fixed;
}
header h1 {
	color: white;
	padding: 1.5rem;
}
